/* TODAS LAS ETIQUETAS PRESENTES */
* {
  font-family: Arial;
}

.descripcion {
  display: block;
}

.entrada {
  display: block;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 0.45px gray solid;
}
